{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <!-- React CDN -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <!-- Babel CDN (to transpile JSX if using JSX) -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <!-- React components -->
        <script type="text/babel" src="{% static 'network/components.js' %}"></script>
        <!-- Main App -->
        <script type="text/babel" src="{% static 'network/main.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" id="home-button" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a id="all-posts-link" class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a id="following-link" class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            <div id="data-urls" 
                data-urls='{
                    "makeNewPost": "{% url "make-new-post" %}",
                    "getAllPosts": "{% url "get-all-posts" %}",
                    "getFollowingPosts": "{% url "get-following-posts" %}",
                    "getUserProfile": "{% url "get-user-profile" "username_placeholder" %}",
                    "editPost": "edit-post/post_id_placeholder",
                    "likePost": "{% url "like-post" %}",
                    "followUser": "follow-user/username_placeholder"
                }'
                data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}"
                data-username="{% if user.is_authenticated %}{{ user.username }}{% endif %}">
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>