body {
    background-color: lightblue;
}

.feed {
    background-color: lightcyan;
    border-radius: 12px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.new-post-form,
.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
    padding-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}

.new-post-form * {
    width: 100%;
}

.textarea-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

textarea {
    padding: 0.5rem;
    resize: none;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 160px;
}

.post-button {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: min-content;
    padding: 0.75rem 2rem;
    border-radius: 12px;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 12px;
}

.post-header {
    display: flex;
}

.edit-button {
    display: flex;
    margin-left: auto;
    border-radius: 8px;
}

.post-body {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    padding: 1rem 0;
    margin: 0 auto;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-count {
    margin-left: auto;
    margin-right: 1rem;
}

.like-button {
    display: flex;
    padding: 0.25rem 1rem;
    border-radius: 12px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
}

form {
    margin: 0;
    padding: 0;
}

.form-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post:nth-child(odd) {
    background-color: azure;  /* Light gray for odd posts */
}

.post:nth-child(even) {
    background-color: white;  /* White for even posts */
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.pagination button {
    border-radius: 8px;
}